altgraph==0.17.2
astroid==2.8.4
atomicwrites==1.4.0
attrs==21.2.0
auto-py-to-exe==2.13.0
black==21.9b0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
click==8.0.3
colorama==0.4.4
coverage==6.0.2
docopt==0.6.2
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
iniconfig==1.1.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.2
pathspec==0.9.0
pefile==2021.9.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.10.0
pycparser==2.21
pygame==2.0.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pylint==2.11.1
pyparsing==2.4.7
pytest==6.2.5
pytest-describe==2.0.0
pytest-testmon==1.2.2
pytest-watch==4.2.0
pywin32-ctypes==0.2.0
regex==2021.10.23
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
watchdog==2.1.6
whichcraft==0.6.1
wrapt==1.13.2
zope.event==4.5.0
zope.interface==5.4.0
